# IDE
.idea/**
!.idea/codeStyles/
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
.vscode
.history

# Dependencies
node_modules

# Temporary files
*.log
*.pem
*.tsbuildinfo
.DS_Store
.eslintcache
.next
.stylelintcache
.vercel
out

# Environment
.env*.local
next-env.d.ts
